/* Site wrapper to put the footer in the right position */
.site-wrapper {
    position: relative;
    min-height: 100vh;
}

.page-footer {
    position: absolute;
    width: 100%;
}

/* Focus on the center item in the news carousel. */
.owl-item div {
    transform: scale(.9);
    transition: transform 750ms ease-in-out;
}
.owl-item.center div {
    transform: scale(1.1);
    transition: transform 750ms ease-in-out;
}

/* clear fix for the packery grid */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* Default sizes for grid items */
.grid-item {
    float: left;
    width: 16.667%;
    height: 200px;
}

/* Put the image in the grid elements properly */
.grid-item img {
    display: block;
    width: 100%;
    height: 100%;
}

/* Set up the classes for the width of items in the grid */
.grid-item--small-width { width: 16.667%; } /*Small*/
.grid-item--double-small-width { width: 33.334%; } /*Double*/
.grid-item--half-width { width: 50%; } /*Half*/
.grid-item--three-fourth-width { width: 66.668%; } /*Bit More Than Half*/
.grid-item--big-width { width: 83.335%; } /*Big*/
.grid-item--full-width { width: 100%; } /*Full*/

/* Set up the classes for the height of items in the grid */
.grid-item--small-height { height: 200px; } /*Small*/
.grid-item--double-small-height { height: 400px; } /*Double*/
.grid-item--half-height { height: 600px; } /*Half*/
.grid-item--three-fourth-height { height: 800px; } /*Bit More Than Half*/
.grid-item--big-height { height: 1000px; } /*Big*/
.grid-item--full-height { height: 1200px; } /*Full*/
